C#/WpFVItrine/WpFVItrine/Service References/Service/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2361/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2361/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2361/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClassLibDll" />
      <xsd:import schemaLocation="http://localhost:2361/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfSrvDll" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IService1_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetiDAdm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetiDAdm" />
  </wsdl:message>
  <wsdl:message name="IService1_GetiDAdm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetiDAdmResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AdmAddProd_InputMessage">
    <wsdl:part name="parameters" element="tns:AdmAddProd" />
  </wsdl:message>
  <wsdl:message name="IService1_AdmAddProd_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdmAddProdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getListArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:getListArticle" />
  </wsdl:message>
  <wsdl:message name="IService1_getListArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPanier_InputMessage">
    <wsdl:part name="parameters" element="tns:getPanier" />
  </wsdl:message>
  <wsdl:message name="IService1_getPanier_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPanierResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ElemAddInPani_InputMessage">
    <wsdl:part name="parameters" element="tns:ElemAddInPani" />
  </wsdl:message>
  <wsdl:message name="IService1_ElemAddInPani_OutputMessage">
    <wsdl:part name="parameters" element="tns:ElemAddInPaniResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_rajouter_InputMessage">
    <wsdl:part name="parameters" element="tns:rajouter" />
  </wsdl:message>
  <wsdl:message name="IService1_rajouter_OutputMessage">
    <wsdl:part name="parameters" element="tns:rajouterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SuppProdVit_InputMessage">
    <wsdl:part name="parameters" element="tns:SuppProdVit" />
  </wsdl:message>
  <wsdl:message name="IService1_SuppProdVit_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuppProdVitResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_enlever_InputMessage">
    <wsdl:part name="parameters" element="tns:enlever" />
  </wsdl:message>
  <wsdl:message name="IService1_enlever_OutputMessage">
    <wsdl:part name="parameters" element="tns:enleverResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_retirer_InputMessage">
    <wsdl:part name="parameters" element="tns:retirer" />
  </wsdl:message>
  <wsdl:message name="IService1_retirer_OutputMessage">
    <wsdl:part name="parameters" element="tns:retirerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_payer_InputMessage">
    <wsdl:part name="parameters" element="tns:payer" />
  </wsdl:message>
  <wsdl:message name="IService1_payer_OutputMessage">
    <wsdl:part name="parameters" element="tns:payerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/login" message="tns:IService1_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginResponse" message="tns:IService1_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetiDAdm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetiDAdm" message="tns:IService1_GetiDAdm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetiDAdmResponse" message="tns:IService1_GetiDAdm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdmAddProd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AdmAddProd" message="tns:IService1_AdmAddProd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AdmAddProdResponse" message="tns:IService1_AdmAddProd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getListArticle" message="tns:IService1_getListArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getListArticleResponse" message="tns:IService1_getListArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPanier">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPanier" message="tns:IService1_getPanier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPanierResponse" message="tns:IService1_getPanier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ElemAddInPani">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ElemAddInPani" message="tns:IService1_ElemAddInPani_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ElemAddInPaniResponse" message="tns:IService1_ElemAddInPani_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="rajouter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/rajouter" message="tns:IService1_rajouter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/rajouterResponse" message="tns:IService1_rajouter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuppProdVit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SuppProdVit" message="tns:IService1_SuppProdVit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SuppProdVitResponse" message="tns:IService1_SuppProdVit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="enlever">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/enlever" message="tns:IService1_enlever_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/enleverResponse" message="tns:IService1_enlever_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="retirer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/retirer" message="tns:IService1_retirer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/retirerResponse" message="tns:IService1_retirer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="payer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/payer" message="tns:IService1_payer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/payerResponse" message="tns:IService1_payer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IService1/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiDAdm">
      <soap:operation soapAction="http://tempuri.org/IService1/GetiDAdm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdmAddProd">
      <soap:operation soapAction="http://tempuri.org/IService1/AdmAddProd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListArticle">
      <soap:operation soapAction="http://tempuri.org/IService1/getListArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPanier">
      <soap:operation soapAction="http://tempuri.org/IService1/getPanier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElemAddInPani">
      <soap:operation soapAction="http://tempuri.org/IService1/ElemAddInPani" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rajouter">
      <soap:operation soapAction="http://tempuri.org/IService1/rajouter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuppProdVit">
      <soap:operation soapAction="http://tempuri.org/IService1/SuppProdVit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enlever">
      <soap:operation soapAction="http://tempuri.org/IService1/enlever" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retirer">
      <soap:operation soapAction="http://tempuri.org/IService1/retirer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payer">
      <soap:operation soapAction="http://tempuri.org/IService1/payer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:2361/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>